<footer class="footer">
  <div class="container">
  <small>
    <li><%= link_to "Mortgage", root_path %></li>
  </small>
  <nav>
    <ul>
      <li><%= link_to "List of banks", root_path %></li>
    </ul>
  </nav>
</div>
</footer>
